.registration-form-container {
  form {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    gap: var(--bb-spacing-large);

    div {
      display: flex;
      flex-direction: column;
      gap: var(--bb-spacing-large);

      figure {
        margin: 0 auto;
        width: 293px;
        height: 216px;
        position: relative;
      }

      h1 {
        font-size: var(--bb-font-size-large);
        font-weight: var(--bb-font-weight-superbold);
        line-height: var(--bb-spacing-large);
        color: var(--bb-color-black);
      }

      .input-area {
        display: flex;
        flex-direction: column;
        gap: var(--bb-spacing-medium);

        label {
          font-size: var(--bb-font-size-medium);
          font-weight: var(--bb-font-weight-superbold);
          color: var(--bb-color-black);
        }
      }

      .checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--bb-spacing-medium);
        position: relative;

        div {
          width: 24px;
          height: 24px;

          input[type=checkbox] {
            position: absolute;
            -moz-appearance:none;
            -webkit-appearance:none;
            -o-appearance:none;
            appearance: none;
            outline: none;
            content: none;
            border-color: 1px solid var(--bb-color-green)!important;
            opacity: 0;
            width: 24px;
            height: 24px;
            z-index: 1;

            & + .checkmark {
              position: absolute;
              left: 0px;
              display: inline-block;
              width: 24px;
              height: 24px;
              background-color: var(--bb-color-offwhite);
              border: 2px solid var(--bb-color-green);
              border-radius: var(--bb-border-radius-smallest);
              z-index: 0;
            }

            &:checked + .checkmark {
              z-index: 0;
              position: absolute;
              left: 0px;
              display: inline-block;
              width: 24px;
              height: 24px;
              background-color: var(--bb-color-green);

              .checkmark_stem {
                position: absolute;
                width: 3px;
                height: 12px;
                background-color: var(--bb-color-offwhite);
                left: 12px;
                top: 4px;
                -ms-transform: rotate(45deg); 
                -webkit-transform: rotate(45deg); 
                transform: rotate(45deg);
              }
              
              .checkmark_kick {
                position: absolute;
                width: 8px;
                height: 3px;
                background-color: var(--bb-color-offwhite);
                left: 3px;
                top: 12px;
                -ms-transform: rotate(45deg); 
                -webkit-transform: rotate(45deg); 
                transform: rotate(45deg);
              }
            }
          }
        }

        span {
          padding-left: 10px;
        }
      }

      .button-area {
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 720px) {
  .registration-form-container {
    form {
      max-width: 445px;
      margin: 0 auto;

      div {
        figure {
          width: 354px;
          height: 261px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1120px) {
  .registration-form-container {
    form {
      max-width: 589px;
      margin: 0 auto;
    }
  }
}