.menu {
  &-container {
    &.mobile-view {
      position: absolute;
      top: 0px;
      width: 172px;
      height: 259px;
      left: -172px;
      visibility: hidden;
      transition: left 0.3s ease-in, visibility 0.3s ease-in;

      div {
        position: relative;

        ul {
          list-style: none;
          background-color: var(--bb-color-bg);
          padding: var(--bb-spacing-large);
        }

        .close-button {
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }

      &.active {
        left: 0;
        visibility: visible;

        transition: left 0.3s ease-out, visibility 0.3s ease-out;
      }
    }

    &.tablet-view {
      position: fixed;
      top: 96px;
      width: 100%;
      display: flex;

      div {  
        width: inherit;

        ul {
          width: 100%;
          height: auto;
          padding: var(--bb-spacing-medium);
          display: flex;
          justify-content: space-around;
          list-style: none;
          background-color: var(--bb-color-bg);
        }

        .close-button {
          display: none;
          visibility: hidden;
        }
      }
    }

    &.hidden {
      display: none;
    }
  }
}

@media only screen and (min-width: 1120px) {
  .menu {
    &-container {
      background-color: var(--bb-color-white);
      
      &.desktop-view {
        display: flex;
        margin-top: var(--bb-spacing-large);
        margin-bottom: var(--bb-spacing-large);
        background-color: var(--bb-color-white);
        width: 180px;
        justify-content: center;
        border-radius: var(--bb-border-radius-small);
        height: auto;
        min-height: calc(100vh - 144px);

        div {
          ul {
            padding-top: var(--bb-spacing-medium);
          }
  
          .close-button {
            display: none;
          }
        }
      }
    }
  }
}