// ------------ Propriedades globais ---------------- //

body {
  font-family: var(--bb-font-family);
  font-size: var(--bb-font-size-medium);
  color: var(--bb-color-black);
}

.w {
  &-100 {
    width: 100%;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.padding {
  &-large {
    padding: var(--bb-spacing-large);
  }
}

.fixed {
  position: fixed;
}

.overflow-hidden {
  overflow: hidden;
}